body {
  background: #1DA1F2;
  font-family: "Segoe UI", sans-serif;
  letter-spacing: 0.03em;
}

.main {
  z-index: 0;
}

.loader {
  z-index: 9999;
}

.logo img {
  width: 90%;
}

.loaded .loader {
  opacity: 0;
  display: none;
}

section {
  display: table;
}

section span {
  display: table-cell;
  vertical-align: middle;
}

.page1 {
  background: #1DA1F2;
  color: white;
  line-height: 1.4em;
}

.page2 {
  background: #4CAF50;
  color: white;
}

.page3 {
  background: #ff5722;
  color: white;
}

.btn {
  background: none;
  border: 1px solid white;
  cursor: pointer;
  overflow: hidden;
  text-decoration: none;
  color: white;
  padding: 10px 20px;
}

.btn:hover {
  background: #eee;
  color: #1DA1F2;

}

.container {
  width: 80%;
  margin: 0 auto;
}

.row {
  display: flex;
  align-items: center;
}

.cell {
  flex: 1;
}

@media screen and (max-width: 560px) {
  body {
    text-align: center;
  }
  .row {
    width: 90%;
    margin: auto;
  }
  .row {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}

.loader {
  height: 100vh;
  width: 100%;
  background: #1DA1F2;
  text-align: center;
  position: fixed;
}

.loader img {
  width: 200px;
  margin: 0;
  padding: 0;
  position: relative;
  top: 50%;
  transform: translateY(-40%);
  transition: ease-in;
}
