/* General */

html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
}

*, *::before, *::after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

body {
  /* font-family: "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; */
  font-family: "Segoe UI", sans-serif;
  background: #D3D6DB;
  background: #141D26;
  line-height: 1.4;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  height: 100%;
  color: #161616;
}

a {
  text-decoration: none;
  color: #161616;
  width: 100%;
}

.side-content {
  display: none;
}

/* Transition page*/

#content2 {
  transition: transform 0.2s ease-out;
  transform: scale(0);
}

/* Navigation */

nav {
  height: 50px;
  width: 100%;
  background: #182430;
  display: flex;
  align-items: center;
  text-align: center;
  position: fixed;
  bottom: 0;
  z-index: 5;
  border-top: 1px solid #203141;
}

.nav {
  display: none;
}

nav a {
  text-decoration: none;
  color: #8899A6;
}

nav a:hover i, nav a:active i, .active {
  color: #03A9F4;
}

.cell {
  flex: 1;
}

/* search-box */

.search-box {
  height: 50px;
  width: 100%;
  background: #243447;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  z-index: 6;
  position: fixed;
  transition: top 0.3s;
}

.input-box {
  height: 70%;
  width: 98%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: #141D26;
}

.input-box i {
  color: #60778b;
  margin-left: 10px;
}

.input-box input[type=text] {
  height: 100%;
  width: 92%;
  border: none;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  margin-right: 5px;
  margin-left: 10px;
  background: #141D26;
  box-sizing: border-box;
}

.search-box input::placeholder {
  color: #60778b;
  font-size: 14px;
  letter-spacing: 0.05em;
}

/* Lapor */

.lapor, .dinas {
  height: 65px;
  background: #182430;
  padding: 15px;
  font-size: 16px;
  box-sizing: border-box;
  margin-top: 10px;
}

.lapor:hover {
  cursor: pointer;
}

.lapor img, .dinas img {
  position: relative;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 10px;
}

.lapor span {
  color: #a5aab4;
}

/* post */

.post {
  margin-top: 10px;
  color: #e2e2e2;
  background: #182430;
}

.post:last-child {
  margin-bottom: 55px;
}

.box {
  padding: 1em;
  background: #182430;
}

.profile-page{
  background: #fff;
  height: 100vh;
}

.profil {
  box-sizing: border-box;
}

.profil h1 {
  padding-top: 5px;
  font-size: 16px;
}

.profil p {
  font-size: 12px;
  color: #e2e2e2;
}

.photo {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: #ddd;
  float: left;
  margin-right: 10px;
}

.photo img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.detail h1 {
  margin-top: 15px;
  font-size: 16px;
}

.detail span {
  color: #03A9F4;
}

.detail p {
  margin-top: 2px;
  font-size: 14px;
}

.tag {
  margin-top: 10px;
}

.box2 {
  height: 40px;
  border-top: 1px solid #141D26;
  background: #182430;
  text-align: center;
  color: #8d8f94;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.box2 p {
  height: 100%;
  margin-top: 7px;
  font-size: 14px;
  transition: all ease;
}

.box2 a {
  text-decoration: none;
  color: #8d8f94;
}

.box2 p:hover {
  color: #03A9F4;
  cursor: pointer;
}

.box2 i {
  margin-right: 5px;
}

.row {
  display: flex;
  align-items: center;
}

.col-4, .col-6 {
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.col-4 {
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

.col-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

/* post-detail */



/* comment */

.comment {
  display: flex;
  padding: 15px;
  border-top: 1px solid #141D26;
  border-bottom: 1px solid #141D26;
  background: #fff;
}

.cell1 {
  width: 50px;
}

.isi-comment {
  flex: 5;
}

.isi-comment h1 {
  font-size: 16px;
}

.isi-comment p {
  font-size: 14px;
}

.isi-comment p:last-child {
  font-size: 12px;
  color: #AFB3BD;
}

.tulis-comment {
  height: 50px;
  width: 100%;
  border-top: 1px solid #e9e2e2;
  border-bottom: 1px solid #e9e2e2;
  background: #fff;
  position: fixed;
  bottom: 50px;
  text-align: center;
}

.tulis-comment input[type=text] {
  height: 100%;
  width: 80%;
  border: none;
  padding: 10px;
  font-size: 14px;
}

.tulis-comment input[type=submit] {
  border: none;
  height: 100%;
  padding: 10px;
  background: none;
  color: #03A9F4;
  font-weight: 600;
}

input:focus {
  outline: none;
}

.tulis-comment input::placeholder {
  font-size: 14px;
  color: #585353;
  letter-spacing: .06em;
}

/* footer */

footer {
  height: 10000px;
}

footer.post-detail-page {
  height: 90px;
}

/* News */



.post img {
  width: 100%;
}

.detail img {
  margin-top: 10px;
}

/* Notification */

.header {
  height: 50px;
  background: #243447;
  text-align: center;
}

.header h1 {
  color: white;
  font-size: 16px;
  letter-spacing: 0.06em;
  padding-top: 15px;
}

.notif {
  display: flex;
  align-items: center;
  padding: 10px;
  background: #182430;
  border-bottom: 1px solid #141D26;
}

.notif:first-child {
  margin-top: 10px;
}

.notif:last-child {
  margin-bottom: 50px;
}

.notif img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.notif-content {
  padding: 5px 15px;
  color: #eee;
}

.notif-content p:last-child {
  font-size: 12px;
  color: #868686;
  margin-top: 5px;
}

/* Login */

#login {
  height: 100vh;
  background: #1DA1F2;
  display: flex;
  flex-wrap: wrap;
}

.logo {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo img {
  width: 50%;
  margin-top: 100px;
}

.form {
  text-align: center;
  flex: 100%;
}

.form input {
  width: 90%;
  height: 40px;
  border: none;
  padding: 10px;
  padding-left: 15px;
  font-family: "Segoe UI", sans-serif;
}

#small-dialog .form input[type=text]{
  font-size: 18px;
  color: #1DA1F2;
  height: 50px;
  border-bottom: 1px solid #141D26;
  background: #182430;
}

.form textarea {
  width: 90%;
  height: 80%;
  border: none;
  padding: 10px;
  padding-left: 15px;
  font-size: 18px;
  color: #1DA1F2;
  letter-spacing: 0.03em;
  line-height: 1.5;
  background: #182430;
}

.form textarea:focus{
  outline: none;
}

.form textarea::placeholder {
  font-family: "Segoe UI", sans-serif;
  color: #A5AAB4;
}

.form input::placeholder {
  font-family: "Segoe UI", sans-serif;
  letter-spacing: 0.03em;
  color: #A5AAB4;
}

.form input[type=submit] {
  margin-top: 20px;
  background: rgba(255, 255, 255, .25);
  color: #fff;
  letter-spacing: 0.05em;
}

#small-dialog .form input[type=submit] {
  /* margin-top: 20px; */
  background: #1DA1F2;
  color: #fff;
  letter-spacing: 0.05em;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
}

.form input[type=button] {
  margin-top: 10px;
  background: none;
  color: #fff;
  font-size: 12px;
  font-weight: lighter;
  letter-spacing: 0.05em;
}

#form-signUp {
  display: none;
}

/* Donation */

.content {
  animation-name: scale;
  animation-duration: 0.5s;
  animation-timing-function: cubic-bezier(.33, .01, .35, 1);
  animation-iteration-count: 1;
}

.donasi {
  height: 40px; //font-weight: bold;
  text-align: center;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  border-top: 1px solid #141D26;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  align-items: center;
  font-size: 14px;
}

.donasi img {
  width: 20px
}

.post input[type=button] {
  width: 100%;
  height: 40px;
  border: none;
  background: #1DA1F2;
  color: #fff;
  letter-spacing: 0.05em;
}

#donate {
  display: none;
  animation-name: scale;
  animation-duration: 0.5s;
  animation-timing-function: cubic-bezier(.33, .01, .35, 1);
}

.donate {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  z-index: 999;
  background: #1DA1F2;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: fixed;
  transition: all 1s ease;
}

.donate input[type=text]::placeholder, .donate input {
  text-align: center;
}

.donate img {
  width: 80%;
  animation-name: rotate;
  animation-duration: 4s;
  animation-delay: 1s;
  animation-timing-function: ease;
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes scale {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@keyframes trasnlate {
  from {
    transform: translateX(-50);
  }
  to {
    transform: translateX(0);
  }
}

/* Style the Image Used to Trigger the Modal */

#myImg {
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {
  opacity: 0.7;
}

/* The Modal (background) */

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9);
  /* Black w/ opacity */
}

/* Modal Content (Image) */

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  z-index: 99;
}

/* Add Animation - Zoom in the Modal */

.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {
    transform: scale(0)
  }
  to {
    transform: scale(1)
  }
}

/* The Close Button */

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
  z-index: 10;
}

.close:hover, .close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* 100% Image Width on Smaller Screens */

@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

/* Srollbar */

::-webkit-scrollbar {
  width: 5px;
  background: #fff;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #1DA1F2;
}

/* Account Pofile */

.account {
  background: #182430;
  height: 100%;
  color: #eee;
}

.head {
  height: 300px;
  width: 100%;
  background: #1f2e3d;
  text-align: center;
  color: #f1f1f1;
}

.account img {
  width: 150px;
  border-radius: 50%;
  border: 5px solid #cbebff;
  margin-top: 40px;
  /* animation-name: color;
  animation-duration: 2s;
  animation-iteration-count: infinite; */
}

.account h1 {
  font-weight: lighter;
  font-size: 24px;
  padding: 5px;
}

.total {
  display: flex;
  height: 80px;
  padding: 5px 0;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: #1DA1F2;
  border-bottom: 1px solid #d4d4d4;
}

.total h3 {
  margin-top: 5px;
  font-size: 16px;
}

.detail-profil {
  padding: 25px;
  padding-top: 10px;
  margin-bottom: 50px;
}

.detail-profil h2 {
  font-size: 16px;
  margin-top: 10px;
}

.detail-profil p {
  margin-bottom: 10px;
}

.detail-profil h2 {
  color: #1DA1F2;
}

/* Menu */

.header {
  position: fixed;
  width: 100%;
  top: 0;
}

.header img {
  height: 100%;
}

#menu .main-content p,
#menu .main-content a,
#profile .side-content p,
#profile .side-content a {
  color: #eee;
}

.menu, .top-menu {
  margin-top: 5px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  background: #182430;
}

.top-menu {
  margin-top: 45px;
}

.menu img {
  width: 35px;
  border-radius: 50%;
}

#share .menu img {
  width: 30px;
  border-radius: 0;
  background: #fff;
}

.item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #141D26;
  padding: 5px;
  letter-spacing: 0.04em;
}

.item:last-child {
  border: none;
}

.icon {
  width: 40px
}

.item i {
  color: #1DA1F2;
  padding: 7px;
}

.menu-content {
  padding: 10px;
}

.menu:last-child {
  margin-bottom: 60px;
}

ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.tg-list {
  text-align: center;
  display: flex;
  align-items: center;
}

.tg-list-item {
  margin: 0 2em;
}

.tgl {
  display: none;
}

.tgl, .tgl:after, .tgl:before, .tgl *, .tgl *:after, .tgl *:before, .tgl+.tgl-btn {
  box-sizing: border-box;
}

.tgl::-moz-selection, .tgl:after::-moz-selection, .tgl:before::-moz-selection, .tgl *::-moz-selection, .tgl *:after::-moz-selection, .tgl *:before::-moz-selection, .tgl+.tgl-btn::-moz-selection {
  background: none;
}

.tgl::selection, .tgl:after::selection, .tgl:before::selection, .tgl *::selection, .tgl *:after::selection, .tgl *:before::selection, .tgl+.tgl-btn::selection {
  background: none;
}

.tgl+.tgl-btn {
  outline: 0;
  display: block;
  width: 2.5em;
  height: 1.5em;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.tgl+.tgl-btn:after, .tgl+.tgl-btn:before {
  position: relative;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
}

.tgl+.tgl-btn:after {
  left: 0;
}

.tgl+.tgl-btn:before {
  display: none;
}

.tgl:checked+.tgl-btn:after {
  left: 50%;
}

.tgl-light+.tgl-btn {
  background: #f0f0f0;
  border-radius: 2em;
  padding: 2px;
  transition: all .4s ease;
}

.tgl-light+.tgl-btn:after {
  border-radius: 50%;
  background: #fff;
  transition: all .2s ease;
}

.tgl-light:checked+.tgl-btn {
  background: #1DA1F2;
}
.main-content{
  margin: 0;
}

.nav {
  display: none;
}
#news, #donation, #home, #app, #notification {
  margin-top: 50px;
}

/* Magnific */
/* Styles for dialog window */
#small-dialog {
  background: #182430;
  padding: 50px 0px;
  text-align: left;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  position: fixed;
}

#share {
  height: auto;
  width: 96%;
  background: #182430;
  align-items: center;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 2%;
  right: 2%;
  z-index: 5;
}

#share p {
  color: #eee;
}

#small-dialog .profile img{
  width: 40px;
  border-radius: 50%;
  text-align: left;
}

/* start state */
.my-mfp-zoom-in .zoom-anim-dialog {
opacity: 0;

-webkit-transition: all 0.2s ease-in-out;
-moz-transition: all 0.2s ease-in-out;
-o-transition: all 0.2s ease-in-out;
transition: all 0.2s ease-in-out;
-webkit-transform: scale(0.8);
-moz-transform: scale(0.8);
-ms-transform: scale(0.8);
-o-transform: scale(0.8);
transform: scale(0.8);
}

/* animate in */
.my-mfp-zoom-in.mfp-ready .zoom-anim-dialog {
opacity: 1;

-webkit-transform: scale(1);
-moz-transform: scale(1);
-ms-transform: scale(1);
-o-transform: scale(1);
transform: scale(1);
}

/* animate out */
.my-mfp-zoom-in.mfp-removing .zoom-anim-dialog {
-webkit-transform: scale(0.8);
-moz-transform: scale(0.8);
-ms-transform: scale(0.8);
-o-transform: scale(0.8);
transform: scale(0.8);

opacity: 0;
}

/* Dark overlay, start state */
.my-mfp-zoom-in.mfp-bg {
opacity: 0;
-webkit-transition: opacity 0.3s ease-out;
-moz-transition: opacity 0.3s ease-out;
-o-transition: opacity 0.3s ease-out;
transition: opacity 0.3s ease-out;
}
/* animate in */
.my-mfp-zoom-in.mfp-ready.mfp-bg {
opacity: 0.8;
}
/* animate out */
.my-mfp-zoom-in.mfp-removing.mfp-bg {
opacity: 0;
}



/**
* Fade-move animation for second dialog
*/

/* at start */
.my-mfp-slide-bottom .zoom-anim-dialog {
opacity: 0;
-webkit-transition: all 0.2s ease-out;
-moz-transition: all 0.2s ease-out;
-o-transition: all 0.2s ease-out;
transition: all 0.2s ease-out;

-webkit-transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );
-moz-transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );
-ms-transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );
-o-transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );
transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );

}

/* animate in */
.my-mfp-slide-bottom.mfp-ready .zoom-anim-dialog {
opacity: 1;
-webkit-transform: translateY(0) perspective( 600px ) rotateX( 0 );
-moz-transform: translateY(0) perspective( 600px ) rotateX( 0 );
-ms-transform: translateY(0) perspective( 600px ) rotateX( 0 );
-o-transform: translateY(0) perspective( 600px ) rotateX( 0 );
transform: translateY(0) perspective( 600px ) rotateX( 0 );
}

/* animate out */
.my-mfp-slide-bottom.mfp-removing .zoom-anim-dialog {
opacity: 0;

-webkit-transform: translateY(-10px) perspective( 600px ) rotateX( 10deg );
-moz-transform: translateY(-10px) perspective( 600px ) rotateX( 10deg );
-ms-transform: translateY(-10px) perspective( 600px ) rotateX( 10deg );
-o-transform: translateY(-10px) perspective( 600px ) rotateX( 10deg );
transform: translateY(-10px) perspective( 600px ) rotateX( 10deg );
}

/* Dark overlay, start state */
.my-mfp-slide-bottom.mfp-bg {
opacity: 0;

-webkit-transition: opacity 0.3s ease-out;
-moz-transition: opacity 0.3s ease-out;
-o-transition: opacity 0.3s ease-out;
transition: opacity 0.3s ease-out;
}
/* animate in */
.my-mfp-slide-bottom.mfp-ready.mfp-bg {
opacity: 0.8;
}
/* animate out */
.my-mfp-slide-bottom.mfp-removing.mfp-bg {
opacity: 0;
}

#share button, #small-dialog button {
  color: #eee;
}

/* Desktop Mode */

@media screen and (min-width: 600px) {
  .content {
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }

  .main-content-login {
    width: 400px;
  }
  .side-content {
    display: none;
  }
  .lapor {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.09);
  }
  .tulis-comment {
    position: relative;
    margin-top: 40px;
  }

  .photo img{
    width: 40px;
    height: 40px;
  }

  .main-content{
    width: 100%;
  }
  .notif-page{
    height: 100vh;
    background: #fff;
  }
}

@media screen and (min-width: 982px) {
  #profile {
    margin-top: 50px;
  }
  .main-content {
    width: 600px;
  }
  .side-content {
    display: block;
    width: 360px;
    height: auto;
    margin-left: 20px;
    margin-top: 10px;
  }
  nav {
    display: none;
  }
  .header {
    display: none;
  }
  .search-box {
    display: none;
  }
  .side-content .post {
    margin: 0;
  }
  .post {
    margin-top: 10px;
  }
  .detail p {
    font-size: 15px;
  }
  .side-content h2 {
    padding: 10px;
    font-weight: 400;
    font-size: 16px;
  }
  .post {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.09);
  }

  .new-donasi, .hot-news {
    margin: 10px 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.09);
  }
  .main-content, .top-menu, .post-detail{
    margin-top: 10px;
  }
  .main-content .lapor {
    height: 80px;
  }
  .head {
    margin-top: 10px;
  }
  .account {
    height: auto;
  }
  .nav {
    display: flex;
    align-items: center;
    height: 60px;
    width: 100%;
    background: #243447;
    color: #babec6;
    margin: 0 auto;
    margin-bottom: 10px;
    position: fixed;
    top: 0;
    z-index: 999;
  }
  .desktop-menu {
    width: 985px;
    margin: 0 auto;
  }
  .nav ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 20px;
  }
  .nav li {
    display: inline;
  }
  .nav li a {
    padding: 10px;
    margin-right: 20px;
  }
  .nav a{
    font-size: 18px;
  }
  li i {
    color: #b0bbc7;
  }
  li .active i{
    color: #1DA1F2;
  }
  li input[type=text]{
    height: 35px;
    width: 330px;
    padding: 10px 20px;
    background:#1B2836;
    border: none;
    border-radius: 500px;
    color: #1DA1F2;
    font-size: 15px;
    letter-spacing: 0.04em;
  }
  li input[type=text]:focus{
    background: none;
    border: 2px solid #1DA1F2;
  }
  li .photo img, li .photo {
    width: 35px;
    height: 35px;
  }
  ul.ul-profile li {
    font-size: 16px;
    font-weight: 400;
    color: #babec6;
  }
  .notif-page{
    height: auto;
  }
  .profile-page{
    height: auto;
  }

  #small-dialog, #share {
    background: #182430;
    padding: 30px 0px;
    text-align: left;
    width: 80%;
    max-width: 900px;
    height: auto;
    margin: 0 auto;
    position: relative;
  }

  #share {
    width: 400px;
  }

}
