<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#1DA1F2"/>
    <title>Laporin</title>
    <link rel="icon" href="images/icons/laporin.ico" type="image/gif" sizes="any">
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/style.min.css">
    <link rel="manifest" href="./manifest.json">
  </head>
  <body>
    <div id="donation">
      <nav>
      	<div class="cell isi-laporan">
      		<a href="home.html" >
      			<i class="fa fa-pencil-square-o fa-lg"  aria-hidden="true"></i>
      		</a>
      	</div>
      	<div class="cell isi-laporan">
      		<a href="news.html">
      			<i class="fa fa-newspaper-o  fa-lg"  aria-hidden="true"></i>
      		</a>
      	</div>
      	<div class="cell isi-laporan">
      		<a href="donation.html" class="active">
      			<i class="fa fa-handshake-o fa-lg"  aria-hidden="true"></i>
      		</a>
      	</div>
      	<div class="cell isi-laporan">
      		<a href="notification.html">
      			<i class="fa fa-globe fa-lg" aria-hidden="true"></i>
      		</a>
      	</div>
      	<div class="cell isi-laporan">
      		<a href="menu.html">
      			<i class="fa fa-bars fa-lg" aria-hidden="true"></i>
      		</a>
      	</div>
      </nav>
      <div class="nav">
        <div class="desktop-menu">
          <ul>
            <li>
              <a href="home.html">
                <i class="fa fa-pencil-square-o fa-lg"  aria-hidden="true"></i>
              </a>
            </li>
            <li>
              <a href="news.html">
                <i class="fa fa-newspaper-o  fa-lg"  aria-hidden="true"></i>
              </a>
            </li>
            <li>
              <a href="donation.html" class="active">
                <i class="fa fa-handshake-o fa-lg"  aria-hidden="true"></i>
              </a>
            </li>
            <li>
              <a href="notification.html">
                <i class="fa fa-globe fa-lg" aria-hidden="true"></i>
              </a>
            </li>
            <li>
              <input type="text" placeholder="Search" v-model="search">
            </li>
            <li>
              <ul class="ul-profile">
                <a class="user-profile" href="profile.html">
                  <li>
                    <div class="photo">
                      <img src="images/profil.jpg" alt="">
                    </div>
                  </li>
                  <li>
                    <p>Safa Kalila</p>
                  </li>
                </a>
              </ul>
            </li>
          </ul>

        </div>
      </div>
      <div id="donate">
        <div class="donate">
          <div class="logo">
            <img src="https://image.flaticon.com/icons/svg/923/923385.svg" alt="Laporin Logo">
          </div>
          <div class="form">
            <form action="donation.html">
              <div class="donate-form">
                <input type="number" placeholder="Masukkan Jumlah Donasi">
              </div>
              <div class="donate">
                <input type="submit" value="Donate">
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="search-box">
      	<div class="input-box">
      		<i class="fa fa-search" aria-hidden="true"></i>
      		<input type="text" placeholder="Search" v-model="search">
      	</div>
      </div>
      <div class="content">
        <div class="main-content">
          <div class="post">
            <div class="box" >
              <div class="profil">
                <div class="photo">
                  <img src="images/logo.png" alt="profil picture">
                </div>
                <div class="user">
                  <h1>Laporin Donasi</h1>
                  <p>1 minutes ago</p>
                </div>
              </div>
              <div class="detail">
                <img src="images/news/banjir.jpg" alt="">
                <p>Banjir Menimpa Jakarta Selatan dengan ketinggian 80cm. Para korban banjir saat ini tinggal di tempat pengungsian</p>
              </div>
            </div>
            <div class="donasi">
              <div class="cell left">
                <img src="images/map.svg" alt="coin laporin">
                Lokasi
              </div>
              <div class="cell right">
                Jakarta
              </div>
            </div>
            <div class="donasi">
              <div class="cell left">
                <img src="images/coin.svg" alt="coin laporin">
                Total Donasi
              </div>
              <div class="cell right">
                Rp 21.023.888
              </div>
            </div>
            <div class="donasi">
              <div class="cell left">
                <img src="images/people.svg" alt="coin laporin">
                Total Pengungsi
              </div>
              <div class="cell right">
                888 Jiwa
              </div>
            </div>
            <input onclick="donate()" type="button" name="" value="Donation">
          </div>
          <div class="post">
            <div class="box" >
              <div class="profil">
                <div class="photo">
                  <img src="images/logo.png" alt="profil picture">
                </div>
                <div class="user">
                  <h1>Laporin Donasi</h1>
                  <p>1 minutes ago</p>
                </div>
              </div>
              <div class="detail">
                <img src="images/news/meletus.jpg" alt="">
                <p>Berikan bantuan anda pada korban dari meletusnya gunung Merapi.</p>
              </div>
            </div>
            <div class="donasi">
              <div class="cell left">
                <img src="images/map.svg" alt="coin laporin">
                Lokasi
              </div>
              <div class="cell right">
                Sleman
              </div>
            </div>
            <div class="donasi">
              <div class="cell left">
                <img src="images/coin.svg" alt="coin laporin">
                Total
              </div>
              <div class="cell right">
                Rp 121.739.235
              </div>
            </div>
            <div class="donasi">
              <div class="cell left">
                <img src="images/people.svg" alt="coin laporin">
                Total Pengungsi
              </div>
              <div class="cell right">
                888 Jiwa
              </div>
            </div>
            <input onclick="donate()" type="button" name="" value="Donation">
          </div>
        </div>
        <div class="side-content">
          <div class="new-donasi">
            <div class="post">
              <h2>New Donasiin</h2>
              <div class="box" >
                <div class="detail">
                  <img src="images/news/banjir.jpg" alt="">
                </div>
              </div>
              <div class="donasi">
                <div class="cell left">
                  <img src="images/disaster.svg" alt="coin laporin">
                  Bencana
                </div>
                <div class="cell right">
                  Banjir
                </div>
              </div>
              <div class="donasi">
                <div class="cell left">
                  <img src="images/map.svg" alt="coin laporin">
                  Lokasi
                </div>
                <div class="cell right">
                  Jakarta
                </div>
              </div>
              <div class="donasi">
                <div class="cell left">
                  <img src="images/coin.svg" alt="coin laporin">
                  Total Donasi
                </div>
                <div class="cell right">
                  Rp 21.023.888
                </div>
              </div>
              <div class="donasi">
                <div class="cell left">
                  <img src="images/people.svg" alt="coin laporin">
                  Total Pengungsi
                </div>
                <div class="cell right">
                  888 Jiwa
                </div>
              </div>
              <input onclick="donasiin()" type="button" name="" value="Donation">
            </div>
          </div>
          <div class="hot-news">
            <div class="post">
              <h2>Hot News</h2>
              <div class="box" >
                <div class="profil">
                  <div class="photo">
                    <img src="images/department/lingdup.png" alt="profil picture">
                  </div>
                  <div class="user">
                    <h1>Dinas Lingkungan Hidup</h1>
                    <p>1 minutes ago</p>
                  </div>
                </div>
                <div class="detail">
                  <img src="images/news/news2.jpg" alt="">
                  <p>Para scholars TSA Medan yang bersemangat menanam bibit pohon bakau</p>
                </div>
              </div>
            </div>
            <div class="post">

              <div class="box" >
                <div class="profil">
                  <div class="photo">
                    <img src="images/department/pu.jpg" alt="profil picture">
                  </div>
                  <div class="user">
                    <h1>Dinas Pekerjaan Umum</h1>
                    <p>1 minutes ago</p>
                  </div>
                </div>
                <div class="detail">
                  <img id="myImg" src="images/news/news1.jpg" alt="tes">
                  <p id="isi">Pemerintah memastikan, jalan trans Papua yang memiliki panjang total 4.329,5 km bakal tersambung seluruhnya pada tahun 2019 mendatang. Panjang jalan tersebut merupakan gabungan dari jalan Trans Papua di Provinsi Papua yang sepanjang 3.259,45 km dan jalan Trans Papua di Provinsi Papua Barat sepanjang 1.070,62 km.</p>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>

    </div>
    <script src="js/vue.min.js" charset="utf-8"></script>
    <script src="js/jquery.min.js" charset="utf-8"></script>
    <script src="js/hammer.min.js" charset="utf-8"></script>
    <script src="js/main.min.js" charset="utf-8"></script>
    <script type="text/javascript">
      var bleep = new Audio();
      bleep.src = "btnDonasi.mp3";
      function sound() {
        bleep.play();
      }

      function donate() {
        //alert("tes");
        document.getElementById('donate').style.display = "flex";

        //bleep.play();
      }

      var post = document.getElementById('donation');

      var postPg = new Hammer(post);

      postPg.on("swiperight", function(ev) {
        window.location.href = "news.html";
      });
      postPg.on("swipeleft", function(ev) {
        window.location.href = "notification.html";
      });

    </script>
  </body>
</html>
