<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#1DA1F2"/>
    <title>Laporin</title>
    <link rel="icon" href="images/icons/laporin.ico" type="image/gif" sizes="any">
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/style-night.min.css">
    <link rel="manifest" href="./manifest.json">
    <script src="js/vue.min.js" charset="utf-8"></script>
  </head>
  <body>

    <div id="home" >
      <nav>
      	<div class="cell isi-laporan">
      		<a href="home-dark.html" class="active">
      			<i class="fa fa-pencil-square-o fa-lg"  aria-hidden="true"></i>
      		</a>
      	</div>
      	<div class="cell isi-laporan">
      		<a href="news-dark.html">
      			<i class="fa fa-newspaper-o  fa-lg"  aria-hidden="true"></i>
      		</a>
      	</div>
      	<div class="cell isi-laporan">
      		<a href="donation-dark.html">
      			<i class="fa fa-handshake-o fa-lg"  aria-hidden="true"></i>
      		</a>
      	</div>
      	<div class="cell isi-laporan">
      		<a href="notification-dark.html">
      			<i class="fa fa-globe fa-lg" aria-hidden="true"></i>
      		</a>
      	</div>
      	<div class="cell isi-laporan">
      		<a href="menu-dark.html">
      			<i class="fa fa-bars fa-lg" aria-hidden="true"></i>
      		</a>
      	</div>
      </nav>
      <div class="nav">
        <div class="desktop-menu">
          <ul>
            <li>
              <a href="home-dark.html"  class="active">
                <i class="fa fa-pencil-square-o fa-lg"  aria-hidden="true"></i>
              </a>
            </li>
            <li>
              <a href="news-dark.html">
                <i class="fa fa-newspaper-o  fa-lg"  aria-hidden="true"></i>
              </a>
            </li>
            <li>
              <a href="donation-dark.html">
                <i class="fa fa-handshake-o fa-lg"  aria-hidden="true"></i>
              </a>
            </li>
            <li>
              <a href="notification-dark.html">
                <i class="fa fa-globe fa-lg" aria-hidden="true"></i>
              </a>
            </li>
            <li>
              <input type="text" placeholder="Search" v-model="search">
            </li>
            <li>
              <ul class="ul-profile">
                <a href="profile-dark.html">
                  <li>
                    <div class="photo">
                      <img src="images/profil.jpg" alt="">
                    </div>
                  </li>
                  <li>
                    Safa Kalila
                  </li>
                </a>
              </ul>
            </li>
          </ul>

        </div>
      </div>
      <div class="search-box" id="search">
        <div class="input-box">
          <i class="fa fa-search" aria-hidden="true"></i>
          <input type="text" placeholder="Search" v-model="search">
        </div>
      </div>
      <div class="content">
        <div class="main-content">
            <div class="lapor">
              <img src="images/profil.jpg" alt="profil picture">
              <span>Tulis laporanmu disini</span>
            </div>
            <!-- End of .lapor -->
            <div id="laporan">
              <div class="post" v-for="lapor in searchLaporan">
                <div class="box" >
                  <div class="profil">
                    <div class="photo">
                      <img v-bind:src="lapor.img" alt="profil picture">
                    </div>
                    <div class="user">
                      <h1>{{lapor.name}}</h1>
                      <p>{{lapor.time}}</p>
                    </div>
                  </div>
                  <div class="detail">
                    <h1>{{lapor.title}} > <span>{{lapor.progress}} %</span></h1>
                    <p>{{lapor.content}}</p>
                  </div>
                  <div class="category">
                    <div class="tag">
                      <b>#Dinas Terkait</b>
                      <b>#Indonesia</b>
                    </div>
                  </div>
                </div>
                <div class="box2">
                  <div class="row">
                    <div class="col-4 like icon">
                      <p onclick="sound()"><i class="fa fa-thumbs-up" aria-hidden="true"></i> Up</p>
                    </div>
                    <div class="col-4 share icon">
                      <p><a href="detail-post.html"><i class="fa fa-comment" aria-hidden="true"></i> Komen</a></p>
                    </div>
                    <div class="col-4 Comment icon">
                      <p onclick="sound()"><i class="fa fa-share-alt" aria-hidden="true"></i> Share</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- End of .laporan-post -->
        </div>
        <div class="side-content">
          <div class="new-donasi">
            <div class="post">
              <h2>New Donasiin</h2>
              <div class="box" >
                <div class="detail">
                  <img src="images/news/banjir.jpg" alt="">
                </div>
              </div>
              <div class="donasi">
                <div class="cell left">
                  <img src="images/disaster.svg" alt="coin laporin">
                  Bencana
                </div>
                <div class="cell right">
                  Banjir
                </div>
              </div>
              <div class="donasi">
                <div class="cell left">
                  <img src="images/map.svg" alt="coin laporin">
                  Lokasi
                </div>
                <div class="cell right">
                  Jakarta
                </div>
              </div>
              <div class="donasi">
                <div class="cell left">
                  <img src="images/coin.svg" alt="coin laporin">
                  Total Donasi
                </div>
                <div class="cell right">
                  Rp 21.023.888
                </div>
              </div>
              <div class="donasi">
                <div class="cell left">
                  <img src="images/people.svg" alt="coin laporin">
                  Total Pengungsi
                </div>
                <div class="cell right">
                  888 Jiwa
                </div>
              </div>
              <input onclick="donasiin()" type="button" name="" value="Donation">
            </div>
          </div>
          <div class="hot-news">
            <div class="post">
              <h2>Hot News</h2>
              <div class="box" >
                <div class="profil">
                  <div class="photo">
                    <img src="images/department/lingdup.png" alt="profil picture">
                  </div>
                  <div class="user">
                    <h1>Dinas Lingkungan Hidup</h1>
                    <p>1 minutes ago</p>
                  </div>
                </div>
                <div class="detail">
                  <img src="images/news/news2.jpg" alt="">
                  <p>Para scholars TSA Medan yang bersemangat menanam bibit pohon bakau</p>
                </div>
              </div>
            </div>
            <div class="post">

              <div class="box" >
                <div class="profil">
                  <div class="photo">
                    <img src="images/department/pu.jpg" alt="profil picture">
                  </div>
                  <div class="user">
                    <h1>Dinas Pekerjaan Umum</h1>
                    <p>1 minutes ago</p>
                  </div>
                </div>
                <div class="detail">
                  <img id="myImg" src="images/news/news1.jpg" alt="tes">
                  <p id="isi">Pemerintah memastikan, jalan trans Papua yang memiliki panjang total 4.329,5 km bakal tersambung seluruhnya pada tahun 2019 mendatang. Panjang jalan tersebut merupakan gabungan dari jalan Trans Papua di Provinsi Papua yang sepanjang 3.259,45 km dan jalan Trans Papua di Provinsi Papua Barat sepanjang 1.070,62 km.</p>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <script src="js/hammer.min.js" charset="utf-8"></script>
    <script src="js/main.js" charset="utf-8"></script>
    <script type="text/javascript">
      var bleep = new Audio();
      bleep.src = "button.mp3";
      function sound() {
        bleep.play();
      }
      var post = document.getElementById('home');

      var postPg = new Hammer(post);

      postPg.on("swipeleft", function(ev) {
        window.location.href = "news-dark.html";
      });
      function donasiin() {
        window.location.href = "donation-dark.html"
      }
    </script>
  </body>
</html>
