<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>

    <link rel="stylesheet" href="css/style.min.css">
    <link rel="stylesheet" href="css/magnific-popup.css">

    <!-- jQuery 1.7.2+ or Zepto.js 1.0+ -->
    <script src="js/jquery.min.js"></script>

    <!-- Magnific Popup core JS file -->
    <script src="js/jquery.magnific-popup.js"></script>
  </head>
  <body>
    <div id="home">
      <div id="small-dialog" class="zoom-anim-dialog">
        <div class="form" id="form-login">
          <!-- <form> -->
            <div class="tile">
              <input type="text" placeholder="Title" v-model="newtitle">
            </div>
            <div class="detail-post">
              <textarea name="name" rows="8" cols="500px" placeholder="Tulis Masalahmu dan Laporin" v-model="newcontent"></textarea>
            </div>
            <div class="">
              <input type="submit" value="Laporin" v-on:click="addPost">
            </div>
          <!-- </form> -->
        </div>
      </div>
      <div id="laporan">
        <div class="post" v-for="lapor in searchLaporan">
          <div class="box" >
            <div class="profil">
              <div class="photo">
                <img v-bind:src="lapor.img" alt="profil picture">
              </div>
              <div class="user">
                <h1>{{lapor.name}}</h1>
                <p>{{lapor.time}}</p>
              </div>
            </div>
            <div class="detail">
              <h1>{{lapor.title}} > <span>{{lapor.progress}} %</span></h1>
              <p>{{lapor.content}}</p>
            </div>
            <div class="category">
              <div class="tag">
                <b>#Dinas Terkait</b>
                <b>#Indonesia</b>
              </div>
            </div>
          </div>
          <div class="box2">
            <div class="row">
              <div class="col-4 like icon">
                <p onclick="sound()"><i class="fa fa-thumbs-up" aria-hidden="true"></i> Up</p>
              </div>
              <div class="col-4 share icon">
                <p><a href="detail-post.html"><i class="fa fa-comment" aria-hidden="true"></i> Komen</a></p>
              </div>
              <div class="col-4 Comment icon">
                <a class="popup-with-zoom-anim" href="#share">
                  <p onclick="sound()"><i class="fa fa-share-alt" aria-hidden="true"></i> Share</p>
                </a>
                <!-- <p onclick="sound()"><i class="fa fa-share-alt" aria-hidden="true"></i> Share</p> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="js/vue.min.js" charset="utf-8"></script>
    <script src="js/main.min.js" charset="utf-8"></script>
  </body>
</html>
